package ${package.Controller};

import io.swagger.annotations.Api;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;
import javax.servlet.http.HttpServletRequest;
import java.util.List;
import ${package.Entity}.${entity};
import ${package.ServiceImpl}.${table.serviceImplName};
#if(${superControllerClassPackage})
import ${superControllerClassPackage};
#end

/**
 * <p>
 * $!{table.comment} 前端控制器
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
##添加Swagger注解
@Api("${table.comment}")
@RestController
@RequestMapping("#if(${package.ModuleName})/${package.ModuleName}#end/${table.entityName.toLowerCase()}")
public class ${table.controllerName} {

    @Autowired
    private ${table.serviceImplName} ${table.entityName.toLowerCase()}Service;

    /**
    * 分页获取列表
    */
    @GetMapping("/all")
    public Object get${table.entityName}List(HttpServletRequest req) {
        int pageNo = Integer.parseInt(req.getParameter("page"));
        int pageSize = Integer.parseInt(req.getParameter("limit"));
        return ${table.entityName.toLowerCase()}Service.get${table.entityName}List(pageNo, size);
    }

    /**
    * 根据id获取信息
    */
    @GetMapping("/{id}")
    public Object get${table.entityName}InfoById(@PathVariable("id") Integer id) {
        return new ActionResult(${table.entityName.toLowerCase()}Service.get${table.entityName}InfoById(id));
    }

    /**
     * 新增
     */
    @PostMapping("/add")
    public Object insert${table.entityName}(@RequestBody ${entity} ${table.entityName.toLowerCase()}) {
        return new ActionResult(${table.entityName.toLowerCase()}Service.insert${table.entityName}(${table.entityName.toLowerCase()}));
    }

    /**
     * 更新
     */
    @PostMapping("/update")
    public Object update${table.entityName}(@RequestBody ${entity} ${table.entityName.toLowerCase()}) {
        return new ActionResult(${table.entityName.toLowerCase()}Service.update${table.entityName}(${table.entityName.toLowerCase()}));
    }

    /**
     * 根据id删除
     */
    @DeleteMapping("/{id}")
    public Object del${table.entityName}(@PathVariable("id") Integer id) {
        return new ActionResult(${table.entityName.toLowerCase()}Service.delete${table.entityName}(new ${table.entityName}().setId(id)));
    }

    /**
     * 根据id列表批量删除
     */
    @DeleteMapping("/dels")
    public Object del${table.entityName}List(@RequestParam("ids") List<Integer> ids) {
        return new ActionResult(${table.entityName.toLowerCase()}Service.delete${table.entityName}List(ids));
    }

}
