package ${package.Controller};

import org.springframework.web.bind.annotation.*;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;
import javax.servlet.http.HttpServletRequest;
import java.util.List;
import ${package.Entity}.${entity};
import ${package.ServiceImpl}.${table.serviceImplName};
#if(${superControllerClassPackage})
import ${superControllerClassPackage};
#end

/**
 * <p>
 * $!{table.comment} 前端控制器
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@RestController
@RequestMapping("#if(${package.ModuleName})/${package.ModuleName}#end/${table.entityName.toLowerCase()}")
public class ${table.controllerName} {

    @Autowired
    private ${table.serviceImplName} ${table.entityName.toLowerCase()}Service;

    /**
    * 分页获取列表
    */
    @PostMapping("/get${table.entityName}List")
    public Object get${table.entityName}List(@RequestBody ${entity} ${table.entityName.toLowerCase()}) {
##        int pageNo = Integer.parseInt(req.getParameter("page"));
##        int pageSize = Integer.parseInt(req.getParameter("limit"));
        return ${table.entityName.toLowerCase()}Service.get${table.entityName}List(${table.entityName.toLowerCase()});
    }

    /**
    * 根据id获取信息
    */
    @PostMapping("/get${table.entityName}ById")
    public ${table.entityName} get${table.entityName}ById(@RequestBody ${entity} ${table.entityName.toLowerCase()}) {
        return ${table.entityName.toLowerCase()}Service.get${table.entityName}ById(${table.entityName.toLowerCase()});
    }

    /**
     * 新增
     */
    @PostMapping("/insert${table.entityName}")
    public void insert${table.entityName}(@RequestBody ${entity} ${table.entityName.toLowerCase()}) {
        ${table.entityName.toLowerCase()}Service.insert${table.entityName}(${table.entityName.toLowerCase()});
    }

    /**
     * 更新
     */
    @PostMapping("/update${table.entityName}")
    public void update${table.entityName}(@RequestBody ${entity} ${table.entityName.toLowerCase()}) {
        ${table.entityName.toLowerCase()}Service.update${table.entityName}(${table.entityName.toLowerCase()});
    }

    /**
     * 根据主键删除
     */
    @DeleteMapping("/del${table.entityName}")
    public void del${table.entityName}(@RequestBody ${entity} ${table.entityName.toLowerCase()}) {
        ${table.entityName.toLowerCase()}Service.delete${table.entityName}(${table.entityName.toLowerCase()});
    }

    /**
     * 根据id列表批量删除
     */
    @DeleteMapping("/del${table.entityName}List")
    public void del${table.entityName}List(@RequestBody List<${entity}> ${table.entityName.toLowerCase()}s) {
        ${table.entityName.toLowerCase()}Service.delete${table.entityName}List(${table.entityName.toLowerCase()}s);
    }

}
