package ${package.ServiceImpl};

import ${package.Entity}.${entity};
import ${package.Mapper}.${table.mapperName};
import ${package.Service}.${table.serviceName};
import ${superServiceImplClassPackage};
import java.util.List;
import com.baomidou.mybatisplus.core.conditions.query.QueryWrapper;
import com.baomidou.mybatisplus.core.conditions.update.UpdateWrapper;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

/**
 * <p>
 * $!{table.comment} 服务实现类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Service
public class ${table.serviceImplName} extends ${superServiceImplClass}<${table.mapperName}, ${entity}> implements ${table.serviceName} {

    @Autowired
    private ${table.mapperName} ${table.entityName.toLowerCase()}Mapper;

    @Override
    public List<${entity}> get${table.entityName}List(${entity} ${table.entityName.toLowerCase()}){
##        Page<${entity}> page = new Page<>(pageNo,size);
##        Page ${table.entityName.toLowerCase()}Page = ${table.entityName.toLowerCase()}Mapper.get${table.entityName}List(Integer pageNo, Integer size);
##        return ${table.entityName.toLowerCase()}Page.getRecords();
        List<${entity}> ${table.entityName.toLowerCase()}s = null;
        ${table.entityName.toLowerCase()}s  = ${table.entityName.toLowerCase()}Mapper.get${table.entityName}List(${table.entityName.toLowerCase()});
        return ${table.entityName.toLowerCase()}s;

    }

    /**
    * 注意当前的id主键 是默认的"id"，具体情况根据数据库主键的名称进行修改
    */
    @Override
    public ${entity} get${table.entityName}ById(${entity} ${table.entityName.toLowerCase()}){
        ${table.entityName.toLowerCase()} = ${table.entityName.toLowerCase()}Mapper.get${table.entityName}ById(${table.entityName.toLowerCase()});
        return ${table.entityName.toLowerCase()};
    }

    @Override
    public void update${table.entityName}(${entity} ${table.entityName.toLowerCase()}){
        ${table.entityName.toLowerCase()}Mapper.updateById(${table.entityName.toLowerCase()});
    }

    @Override
    public void insert${table.entityName}(${entity} ${table.entityName.toLowerCase()}){
        ${table.entityName.toLowerCase()}Mapper.insert(${table.entityName.toLowerCase()});
    }

    @Override
    public void delete${table.entityName}(${entity} ${table.entityName.toLowerCase()}){
        ${table.entityName.toLowerCase()}Mapper.deleteById(${table.entityName.toLowerCase()});
    }

    @Override
    public void delete${table.entityName}List(List<${entity}> ${table.entityName.toLowerCase()}s) {
        ${table.entityName.toLowerCase()}Mapper.deleteBatchIds(${table.entityName.toLowerCase()}s);
    }
}
